{% extends 'base_app/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block head %}

{% endblock %}
{% block news_klasse %}
class="header-section header-default-bg set-bg"
{% endblock %}

{% block news_klasse_2 %}
data-setbg="{% static 'base_app/img/zweites_nav.png' %}"
{% endblock %}
{% block content %}

<section class="portfilio-single set-bg" data-setbg="{{object.bild.large.url}}">
    <div class="sp-container">
        <div class="portfolio-single-content text-white ">

    <h4>{{object.titel}}</h4>
    <p>{{object.text|linebreaks|urlize}}</p>
           <ul>

               <li><h6>Datum:</h6><span>{{object.datum}}</span></li>

           </ul>
        </div>
    </div>
</section>




{% endblock %}
