{% extends "admin/base.html" %}
{% block extrastyle %}
<style>
  #header {
    background-color: #408640;
    color: white
  }

  .module h2,
  .module caption,
  .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: #408640;
    color: #fff;
  }
  div.breadcrumbs {
    background: blue;

}
</style>
{% endblock %}
{% block branding %}
{% load static %}
<h1 id="site-name">

    <a href="{% url 'admin:index' %}">
        <img src="{% static 'base_app/img/treeathlon_logo.png' %}" height="80px" />
    </a>
</h1>

{% endblock %}
